.home {
    box-sizing: border-box;
    width: 100%;
    font-family: var(--mainFont);
}

.home .hero {
    background-color: var(--bgColor);
    color: #fff;
    padding: 45px 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.hero .hero-text {
    padding-right: 20px;
    box-sizing: border-box;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 6vw;
    line-height: 120%;
}
.colored {
    color: var(--accentColor);
}
.hero-text h1 em {
    text-decoration: underline;
    text-underline-offset: 0px;
    text-decoration-thickness: 10px;
}
.hero-text p {
    font-size: 18px;
    margin: 50px 0 0 0;
    width: 100%;
    font-weight: 500;
}
#simple {
    margin: 30px 0 50px 0;
}
.hero-text .hero-srch {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    display: flex;
}
.hero-srch input {
    background-image: url(../assets/search.png);
    background-position: right 15px center;
    background-size: 20px;
    background-repeat: no-repeat;
    border: 2px solid #3ec2d384;
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    padding: 15px 40px 15px 15px;
    font-size: 13px;
    transition: all .3s ease-in-out;
}
.hero-srch input:hover, .hero-srch input:focus {
    border: 2px solid var(--accentColor);
}
.hero-srch button {
    padding: 15px 25px;
    background-color: var(--accentColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 15px;
    border: 2px solid transparent;
    font-weight: 500;
}
.hero-srch button:hover {
    background-color: transparent;
    color: var(--accentColor);
    border-color: var(--accentColor);
}

.hero .hero-bg {
    background-image: url(../assets/hero.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 4px var(--accentColor);
    border-radius: 5px;
    min-height: 500px;
}

@media screen and (max-width: 850px) {
    .home .hero {
        padding: 45px 25px;
    }
}

@media screen and (max-width: 670px) {
    .home .hero {
        padding: 40px 20px;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .hero-text h1 {
        font-size: 10vw;
    }
    .hero .hero-bg {
        grid-row: 1/2;
        min-height: 40vh;
        height: 80vw;
    }
}